.albums-section {
      margin-top: 50px;
    }

    .albums-section h2 {
      margin-bottom: 10px;
      font-size: 1.5rem;
    }

    .album-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: flex-start;
    }

    .album-card {
      width: 250px;
      border-radius: 10px;
      overflow: hidden;
    }

    .album-card img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      border-radius: 10px;
    }

    .album-info {
      padding: 10px;
    }

    .album-title {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .album-artist {
      font-size: 0.8rem;
      color: #aaa;
      margin: 0;
    }
